button {
    display: inline-flex;
    height: 1vw;
    width: 15vw;
}

div{
    display: flex;
    width: auto;
    justify-content: space-between;
    background-color: grey;
}

canvas{
    display: block;
    width: 100%;
    height: 85%;
    background-color: blue;
}